#starRating .photo span {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 42px;
    overflow: hidden;
    margin-right: 23px;
    cursor: pointer;
    /* border: 1px solid black; */
}

#starRating .photo span:last-child {
    margin-right: 0px;
}

#starRating .photo span .nohigh {
    position: absolute;
    width: 44px;
    height: 42px;
    top: 0;
    left: 0;
    /*background: black;*/
    background: url(../img/star.png) center 0px;
    background-size: cover;
}

#starRating .photo span .high {
    position: absolute;
    width: 44px;
    height: 42px;
    top: 0;
    left: 0;
    /*background: yellow;*/
    background: url(../img/star1.png) center 0px;
    background-size: cover;
}

#starRating .starNum {
    font-size: 26px;
    color: #de4414;
    margin-top: 4px;
    margin-bottom: 10px;
}

#starRating .photo {
    margin-top: 30px;
}

#starRating .bottoms a {
    margin-bottom: 0;
}

#starRating .bottoms .garyBtn {
    margin-right: 57px !important;
}

#starRating .bottoms a {
    width: 130px;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
    transition: all 0.2s linear;
    margin: 16px 0 22px;
    text-align: center;
    cursor: pointer;
}

.garyBtn {
    margin-right: 60px !important;
    background-color: #e1e1e1;
    color: #999999;
}

.blueBtn {
    background-color: #1968b1;
    color: #fff;
}

.blueBtn:hover {
    background: #0e73d0;
}



.fl{
	float:left;
}

.fr{
	float:right;
}
.comment_form{
    margin-top:50px;
    overflow:hidden;
}

.comment_form .person_pic{
    float:left;
    width:60px;
    height:60px;
}
.empty_comment{
    vertical-align: middle;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.comment_form img{
    width:60px;
    height:60px;
    border-radius:60px;
}

.comment_form .comment_input{
    float:left;
    width:1200px;
    height:80px;
    margin-left:20px;
    border-radius:4px;
    padding:10px;
    outline:none;
    border:1px solid #2185ed;
}

.comment_form .comment_sub{
    float:right;
    width:100px;
    height:50px;
    border:1px solid #2185ed;
    background:#fff;
    border-radius:4px;
    margin:10px 300px 0 0;
    cursor:pointer;
}

.comment_form .comment_sub:hover{
    background:#2185ed;
    color:#fff;
}

.comment_count{
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #ebebeb;
    padding: 12px 0
}


.comment_list{
    border-bottom:1px solid #ebebeb;
    overflow:hidden;
    margin-top:15px;
    padding-bottom:15px;
}


.comment_list .person_pic{
    width:40px;
    height:40px;
    float:left;
}

.comment_list .person_pic img{
    width:40px;
    height:40px;
    border-radius:20px;
}
.user_name{
    width:690px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #333;
    margin-left:20px;
}
.comment_text{
    width:718px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    margin:5px 0 0 20px;
}
.comment_reply{
    font-size:12px;
    color:#999;
    background: left center no-repeat;
    margin-right: 150px;
    padding-left:10px;
    padding-right: 10px;
    border: 2px solid #46b8da;
    border-radius: 10px;
}
.comment_reply_child {
    font-size:12px;
    color:#999;
    text-indent:20px;
    background: left center no-repeat;
    margin-right: 100px;
}
.reply_text_con{
    width:698px;
    padding:10px;
    background:#fafafa;
    margin:10px 0 0 60px;
}

.reply_text_con .user_name2{
    font-size:12px;
    font-weight:bold;
    color:#000;
    margin-bottom:5px;
}

.reply_text_con .reply_text{
    color:#666;
    font-size:12px;
}

.reply_form{
    width:718px;
    overflow:hidden;
    margin:10px 0 0 60px;
    display:none;
}

.reply_input{
    float:left;
    width:800px;
    height:50px;
    border-radius:4px;
    padding:10px;
    outline:none;
    border:1px solid #2185ed;
}

.reply_sub,.reply_cancel{
    width:40px;
    height:23px;
    background:#76b6f4;
    border:0px;
    border-radius:2px;
    color:#fff;
    margin:10px 5px 0 10px;
    cursor:pointer;
}

.reply_cancel{
    background:#fff;
    color: #909090;
}

