
/* 第一栏 nav区域*/
.sec1 {
    background: linear-gradient(to right top, #c0fff2, #48f1d5);
    min-height: 100vh;
    background-size: 100%;
}
.sec1 nav {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
}
.sec1 nav ul {
    display: flex;
    width: 750px;
    margin: 0 auto;
}
.sec1 nav ul li {
    flex: 1;
    height: 60px;
}
.local_home a {
    display: flex;
    height: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}
.local_home a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 3px solid #426696;
}
.local_hd {
    font-size: 16px;
    font-family: "幼圆";
    font-weight: 400;
}
.local_bd {
    font-size: 14px;
    font-family: "幼圆";
    font-weight: 400;
}
/* 内容区域 */
main {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    /*height: 75%;*/
    border-radius: 25px;
    border: 2px solid #337ab7;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    overflow: hidden;
    backdrop-filter: blur(0.2rem);
}
.main_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    border-right: 1px solid grey;
}
.main_left div {
    width: 100%;
    flex: 1;
    text-align: center;
    transition: 0.5s ease-in-out;
}
.myPhoto {
    flex: 3;
    width: 100%;
    padding: 15px;
    text-align: center;
}
.myPhoto a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 100%;
    color: #426696;
    font-size: 16px;
}
.myPhoto img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 10px auto;
}

.main_left div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 100%;
    color: #426696;
    font-size: 18px;
    font-weight: 700;
    text-decoration:none;
}
.main_left div:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
}
.main_left div:hover a {
    color: #000;
}
.main_right {
    flex: 7;
    height: 600px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0 25px 25px 0;
    overflow: hidden;
}
.content {
    float: right;
    width: 100%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.user_hidden {
    display: none;
}
.content p {
    color: #426696;
    font-size: 16px;
    font-weight: 700;
    margin: 20px auto 0;
}
.main_right div:nth-child(1) p {
    color: #426696;
    font-size: 16px;
    font-weight: 700;
    margin: 20px auto 0;
}
.collect{
    float: left;
}

#video_list {
	background: #f8f8f8;
}
#video_list img{
    width: 250px;
    height: 150px;
}
.video_main_box{
    width:850px;
    margin:0 auto;
}

.video_box {
    width: 270px;
    height: 240px;
    padding: 6px;
    float: left;
}
.video_up{
    font-family:"微软雅黑";
    font-size: 12px;
    color: #8a8a8a;
    float: left;
}
.video_counts{
    font-family: "微软雅黑";
    font-size: 1px;
    color: #8a8a8a;
    float: right;
}
.video_page{
    clear: both;
    width:1200px;
    margin:0 auto;
    text-align: center;
}

.video_detail_left {
    position: relative;
    width: 65%;
    height:  750px;
    float: left;
}
.video_detail_left iframe {
    position: absolute;
    width: 100%;
    height: 750px;
}
.video_detail_right{
    position: relative;
    width: 25%;
    height:  750px;
    float: right;
    margin-right: 5%;
}
.video_introduce{
    text-align: center;
}
.video_introduce_title{
    font-family: "Microsoft YaHei";
    font-weight: bold;
    font-size: 25px;
    /* 文本超出显示成... */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* 设置可显示的行数 */
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.video_detail_right table{
    border-collapse: separate;
    border-spacing: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #1a1e24;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    table-layout:fixed ;
    word-wrap:break-word;
}
.td1{
    width: 30%;
    color:#ccc;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
}

.checkboxLabel {
    width: auto;
    height: auto;
    color: #fff;
    background: orange;
    line-height: 26px;
    text-align: center;
    border-radius: 4px;
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
}

/*#checkBoxInput{*/
/*    !*visibility: hidden;*!*/
/*}*/

/*#checkBoxInput:checked+label{*/
/*    background: #0e6dcd;*/
/*}*/

.interest_title {
	font-size:24px;/*字体大小*/
font-weight:bold;/*设置文本粗细*/
background-color: #ffffff;/*背景颜色*/
border-bottom: 1px solid;/*边框宽度 *颜色定义*/
padding: 5px 15px;/*宽高*/
border-left: 8px solid;/*定位*/
margin:18px 0px 18px -20px;/*定位*/
overflow: hidden;/*溢出修剪*/
box-shadow:2px 6px 10px #5F9EA0;/*设置块阴影  水平位移   垂直位移 	模糊半径 */
}







