{% extends "base.html" %}
{% block title %}登录
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div style="width: 500px;margin: 0 auto">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">用户名</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">验证码</label>
                <div class="input-group" style="position: relative">
                    <input type="text" class="form-control">
                    <div class="input-group-append" style="position: absolute;left: 200px">
                        <button class="btn btn-outline-secondary" type="button">获取验证码</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">确认密码</label>
                <input type="password" class="form-control">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"> 记住我
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">提交</button>
        </form>
    </div>

{% endblock %}