{% extends "base.html" %}
{% block title %}个人中心
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/video.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/night-mode.css">
    <link rel="stylesheet" href="../static/assets/css/framework.css">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="../static/assets/css/icons.css">

    <!-- Google font
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <meta name="referrer" content="no-referrer">

    <style type="text/css">
        html,
        body {

        }

        #viz {
            width: 900px;
            height: 700px;
            border: 1px solid lightgray;
            font: 22pt arial;
        }
    </style>

    <script type="text/javascript" src="../static/assets/dist/neovis.js"></script>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script type="text/javascript">
        // define config car
        // instantiate nodevis object
        // draw
        var viz;
        var str = {{ cql  | tojson}};
        console.log(str)

        function draw() {
            var config = {
                containerId: "viz",
                neo4j: {
                    serverUrl: "neo4j://819f108b.databases.neo4j.io:7687",
                    serverUser: "neo4j",
                    serverPassword: "12345678",
                    driverConfig: {
                        encrypted: "ENCRYPTION_ON",
                        trust: "TRUST_SYSTEM_CA_SIGNED_CERTIFICATES"
                    }
                },
                visConfig: {
                    layout: {
                        randomSeed: undefined,
                        improvedLayout: true,
                        clusterThreshold: 150,
                        hierarchical: {
                            enabled: true,
                            levelSeparation: 300,
                            nodeSpacing: 200,
                            blockShifting: true,
                            edgeMinimization: true,
                            parentCentralization: true,
                            direction: 'LR',        // UD, DU, LR, RL
                            sortMethod: 'directed',  // hubsize, directed
                            shakeTowards: 'roots'  // roots, leaves
                        }
                    },
                    edges: {
                        arrows: "to",
                    }
                },
                labels: {
                    "Lable": {
                        label: "name",
                    }
                },
                relationships: {
                    "base": {
                        "thinkness": 1,
                        "caption": false
                    }
                },
                initialCypher: str,
            };

            viz = new NeoVis.default(config);
            viz.render();
            console.log(viz);
            viz.registerOnEvent('clickNode', (e) => {
                // e: { nodeId: number; node: Node }
                window.location.replace("{{ url_for("map.select") }}"+"?tap="+e.node.label);
                console.info(e.node.label);
             });

        }
    </script>

{% endblock %}


{% block body %}
    <body onload="draw()">
    <a href="{{ url_for('map.enter') }}">选择标签</a>
    <div>当前的标签为：{{ current }}</div>
    <div style="margin: auto;height: 500px;width: 80%;" id="viz"></div>
    {% for video in videolist %}
        <ul class="video_box">
            <li style="list-style: none;">
                <a href=" {{ url_for('video.detail',vid=video["video_id"]) }}" style="text-decoration: none"
                   class="video-post">
                    <div class="video-post-thumbnail">
                        {% for j in score %}
                            {% if video['video_id']==j[0] %}
                                <span class="video-post-count">推荐指数:{{ j[1] }}</span>
                            {% endif %}
                        {% endfor %}
                        <span class="video-post-time">{{ video["video_publishedtime"] }}</span>
                        <span class="play-btn-trigger"></span>
                        <img src="{{ video["video_image"] }}" alt="图片"/>
                    </div>
                    <div class="video-post-content">
                        <h3><span class="video_title">{{ video["video_name"] }}</span></h3>
                        <div class="video_up">
                            <img src="/static/image/UP主.png" alt="UP主" style="width: 20px;height: 20px"/>
                            <span>{{ video["video_author"] }}</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    {% endfor %}

    </body>
{% endblock %}
