{% block title %}
{% endblock %}

{% block head %}
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer"/>
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/resume.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/video.css') }}">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/framework.css">
    <link rel="stylesheet" href="../static/assets/css/icons.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#">
	<span class="d-block d-lg-none">Start Bootstrap</span>
	<span class="d-none d-lg-block">
	  <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../static/image/avatar.png" alt="">
        <p>昵称：{{ name }}</p>
	</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav">
	  <li class="nav-item">
		<a class="nav-link js-scroll-trigger" href="#aboutme">关于我的</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link js-scroll-trigger" href="#tag">标签选择</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link js-scroll-trigger" href="#collect">我的收藏</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link js-scroll-trigger" href="{{ url_for('video.index') }}">返回首页</a>
	  </li>
	</ul>
  </div>
</nav>


<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex d-column back" id="aboutme">
	<div class="my-auto" style="padding-left: 10%">
	  <h1 style="color: #ffffff;font-weight: bold;margin-bottom: 10%">
        欢迎来到我的个人中心!
	  </h1>
	  <p style="color: #ffffff;">蓝色的梦,发生在蓝色的夜里,</p>
      <p style="color: #ffffff;">在蓝色的闪电下,我驰骋在梦里,躲闪着集结的蓝色光球！
	</div>
  </section>

  <section class="resume-section" id="tag">
      <div class="container my-auto selectag">
          <div class="row">
            <div class="col1" style="margin-top: 2.5%">
              <h2 class="mb-5">请选择感兴趣的标签</h2>
              <form action="{{ url_for('person.enter') }}" method="post">
                {% for i in taplist %}
                <div class="card-widget">
                  <div>
                    <div>
                      <label>
                        <input type="checkbox" id="checkBoxInput"  name="tap" value={{ i }}>
                          {{ i }}
                      </label>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-default btn-css" >提交</button>
              </form>
            </div>
            <div class="col">
                <h2 class="mb-5" style="margin-top: 2.5%">已选择感兴趣的标签</h2>
                <div style="margin: 0 auto;position: absolute">
                    {% for i in showtap %}
                        <label style="width:auto;height:auto;color:#fff;background:orange;line-height: 26px;text-align: center;border-radius: 4px;font-size:30px;margin-left: 10px;cursor: pointer;display: inline-block;margin-top: 20px;padding: 10px;">
                            {{ i }}
                        </label>
                    {% endfor %}
                </div>
            </div>
          </div>
    </div>
  </section>

  <section class="video_list resume-section p-3 p-lg-5 d-flex flex-column" id="collect">
	<div class="my-auto">
        <h2 class="mb-5">我的收藏</h2>
        <div class="video_main_box">
                <div class="video-grid-slider mt-4" uk-slider="finite: true">
                    {% for video in collects %}
                        <ul class="video_box">
                            <li style="list-style: none;">
                                <a href=" {{ url_for('video.detail',vid=video["video_id"]) }}" style="text-decoration: none"
                                   class="video-post">
                                    <div class="video-post-thumbnail">
                                        {% for j in score %}
                                            {% if video['video_id']==j[0] %}
                                                <span class="video-post-count">推荐指数:{{ j[1] }}</span>
                                            {% endif %}
                                        {% endfor %}
                                        <span class="video-post-time">{{ video["video_publishedtime"] }}</span>
                                        <span class="play-btn-trigger"></span>
                                        <img src="{{ video["video_image"] }}" alt="图片"/>
                                    </div>
                                    <div class="video-post-content">
                                        <h3><span class="video_title">{{ video["video_name"] }}</span></h3>
                                        <div class="video_up">
                                            <img src="/static/image/UP主.png" alt="UP主" style="width: 20px;height: 20px"/>
                                            <span>{{ video["video_author"] }}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
        </div>
    </div>
  </section>
</div>


<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../static/JS/resume.min.js"></script>

{% endblock %}

