{% extends "base.html" %}
{% block title %}个人
{% endblock %}
{##}
{% block head %}

<link rel="stylesheet" href="../static/person/css/base.css" />
<link rel="stylesheet" href="../static/person/css/style-1.css" />
<!-- 引入外部字体连接 -->
<link rel="stylesheet" href="//at.alicdn.com/t/font_2935587_97eo1d0furr.css" />
<!-- ------------------------------------------------- -->
<script src="../static/person/js/jQuery.mini.js"></script>
<script src="../static/person/js/fullpage.min.js"></script>
<script src="../static/person/js/index.js"></script>
{% endblock %}
{% block body %}
    <body>
        <div id="dowebok">
            <div class="section sec1" id="section1">
                <main>
                    <div class="main_left">
                        <div class="myPhoto current">
                            <a href="#">
                                <img src="" alt="" />
                                <h3>昵称</h3>
                                <p>用户名</p>
                            </a>
                        </div>
						<div>
						    <a href="#">
						        <p></p>
						        <span>个人信息</span>
						    </a>
						</div>
                        <div>
                            <a href="#">
                                <p></p>
                                <span>收藏</span>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <p></p>
                                <span>浏览记录</span>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <p></p>
                                <span>学习规划</span>
                            </a>
                        </div>

                        <div>
                            <a href="#">
                                <p></p>
                                <span>我赞</span>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <p></p>
                                <span>更多</span>
                            </a>
                        </div>
                    </div>
                    <div class="main_right">
                        <div class="content hidden" style="display: block">

                        </div>

                        <div class="content hidden">

                        </div>

                        <div class="content hidden">

                        </div>

                        <div class="content hidden">

                        </div>

                        <div class="content hidden">

                        </div>

                        <div class="content hidden">

                        </div>

                        <div class="content hidden">

                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
{% endblock %}


