{% extends "base.html" %}
{% block title %}搜索页
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/video.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/detail.css') }}">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/night-mode.css">
    <link rel="stylesheet" href="../static/assets/css/framework.css">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="../static/assets/css/icons.css">

    <!-- Google font
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <meta name="referrer" content="no-referrer">
{% endblock %}

{% block body %}
    {# 视频列表 #}
    <section id="video_list" style="margin-top: 0px">
      <div class="video_main_box">
        <div class="video-grid-slider mt-4" uk-slider="finite: true">
        {% if video_list==[] %}
             <div class="empty_search_box">
                <img src="../static/image/empty_serach_box.png" style="width: auto;height: auto;margin-top:50px;margin-bottom: 50px">
                 <h3>暂无搜索记录，换一个关键词试试吧！</h3>
             </div>
         {% endif %}
         {% for video in video_list %}
             <ul class="video_box">
                <li style="list-style: none;">
                    <a href=" {{ url_for('video.detail',vid=video["video_id"]) }}" style="text-decoration: none" class="video-post">
                        <div class="video-post-thumbnail">
                            {% for j in score %}
                                {% if video['video_id']==j[0] %}
                                    <span class="video-post-count">推荐指数:{{ j[1] }}</span>
                                {% endif %}
                            {% endfor %}
                            <span class="video-post-time">{{ video["video_publishedtime"] }}</span>
                            <span class="play-btn-trigger"></span>
                            <img src="{{ video["video_image"] }}" alt="图片"/>
                        </div>
                        <div class="video-post-content">
                            <h3> <span class="video_title">{{ video["video_name"] }}</span></h3>
                            <div class="video_up">
                                <img src="/static/image/UP主.png" alt="UP主" style="width: 20px;height: 20px"/>
                                <span>{{ video["video_author"] }}</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
         {% endfor %}

        </div>
      </div>
    </section>

{% endblock %}
